body {
    margin: 0;
    background-color: rgb(39, 43, 46);
    color: white;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}
.gridItens {
    margin-top: 20px;   
}

figure {
    border-radius: 25px;
    display: inline-block;
    position: relative;
}

.gridItens img {
    border-radius: 25px;
    box-shadow: 5px 8px 15px rgb(0, 0, 0, 0.7);
    width: 360px;
    height: 360px;
    margin: 20px;
    transition: transform 900ms;
}

figcaption {
    position: absolute;
    margin: 20px;
    border-radius: 25px;
    top: 0;
    left: 0;
    width: 360px;
    height: 360px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}
figcaption h1{
    justify-content: center;
    width: 90%;
    position: fixed;
    top: 15%;
}
figcaption p{
    
    position: absolute;
    width: 95%;
    top: 35%;
    font-size: large;
}


figure:hover figcaption {
    opacity: 1;
}
figure:hover{
    z-index: 0;
    cursor: pointer;
    transition: all 0.25s;
    transform: scale(1.2);
}
figure:not(:hover) {
    transition: all 0.25s;
    scale: 1;
}
.btnVotar{
    width: 100px;
    height: 30px;
    bottom: 40px;
    background-color: green;
    position: inherit;
    border: 0;
	border-radius:3px;
	cursor:pointer;
    box-shadow: 1px 2px 2px rgb(0, 0, 0, 0.9);
	transition: all 0.35s ease-in-out;
}
.btnVotar:hover{
    background-color: rgb(0, 186, 0);
}

